
form.mysettings-form{
    background-color: #cccccc;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}
form select {
    width: 150px;
    border-radius: 15px;
    text-align-last:center;

}
option {
    text-align: center;

}

form.left-day-form {
    width: 40px;
    height: 40px;
    float: left;
}
p.day {
    display:block;

    float: left;
    margin: 5px 0 0 0;
    padding-left: 2px;
    padding-right: 2px;

}

form.right-day-form {
    width: 105px;
    height: 40px;
    float: left;

}
form.right-day-form input{
    margin-left: 0;

}

form.left-month-form {
     width: 40px;
     height: 40px;
     float: left;
     margin-left: 0;
     padding-left: 0;
 }
p.month {
    display:block;

    float: left;
    margin: 5px 0 0 0;
    padding-left: 2px;
    padding-right: 2px;

}

form.right-month-form {
    width: 135px;
    height: 40px;
    float: left;
}
form.right-month-form input{
    margin-left: 0;

}

form.left-year-form {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: -35px;
    padding-left: 0;
}
p.year {
    display:block;
    float: left;
    margin: 5px 0 0 0;

}

form.right-year-form {
    width: 135px;
    height: 50px;
    float: left;
}
form.right-year-form input{
    margin-left: 6px;

}

div#TableOrder{
    width: 40%;
}

.TableOrder tbody tr th,td {
    text-align: center;
    width: 50px;
}
.TableOrder td {
    text-align: center;
}
/*.TableOrder td:first-child {
    font-weight: 700;
}*/

.TableOrder td.NameDay {
    font-weight: 700;
}


td.TableOrder {
    text-align: left;
}
td.TableOrder {
    font-weight: 700;
    text-align: left;
}

#TableOrder table {
    position: relative;
    margin-top: -50px;
}
form.table-form input {
    display: none;

}

td a.link {
    color:green;
    font-weight: 600;
}
td span {
    color:red;

}
td span.number {
    color: black;
}

div#main-wrapper.layout-main-wrapper {
    width: 2100px;
    height:  1400px;
}
div#page-wrapper{
    width: 2100px;
    height:  1400px;

}
form#right-year-form.right-year-form input{
    clear:both;
}
/*table.TableDay {
    position: relative;
    width: 30%;
    margin-top: -100px;

}*/